html,
body {
    margin: none;
}

.navbar {
    background-color: #949494;
    width: 100%;
    height: 55px;
    border-bottom: 2px solid black;
}

.navbar-block {
    width: 100%;
    justify-content: center;
    display: inline-flex;
    margin: auto;
}

.navbar-block-lien {
    width: 100%;
    text-align: right;
}

.navbar-block-lien a {
    letter-spacing: 1px;
    margin-left: 20px;
    color: black;
}